@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{font-family:"Nanum Gothic", "맑은 고딕", sans-serif;}

body{background:#ccc;}

header, main, footer{text-align:center;}
fieldset{margin:auto 250px;}
main fieldset input{height:25px;}
label{display:block; margin:5px auto;}
button{width:200px; height:50px; font-size:20px; background:gray; color:white;}
article{border:1px solid black; margin:10px 250px;}

.plan{padding:5px; margin:10px;border:1px dotted black;}
a{display:block;}

footer{text-align:center; background:gray; color:white; margin: 160px 0 0 0; padding:10px auto;}
a[href="mailto:lucas7234119@hotmail.com"]{text-decoration:none;}
footer a{margin:3px 5px; display:inline-block!important;}
footer hr{margin-bottom:5px;}
output{display:block;margin-bottom:20px;}
